.hero-container {
  background: url("https://firebasestorage.googleapis.com/v0/b/test-53482.appspot.com/o/lukas-blazek-EWDvHNNfUmQ-unsplash.jpg?alt=media&token=de981e04-701a-49a3-b42b-cb2178952ae6")
    center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  position: relative;
}

.hero-container > h1 {
  color: #007f8b;
  font-size: 50px;
  margin-top: 100px;
  margin-left: 100px;
}
